In [1]:
import pandas as pd

df1 = pd.read_pickle('data/file1.pkl') # 麻醉部的資料表
df2 = pd.read_pickle('data/file2.pkl') # 門診的資料表

# 前置作業：先對資料進行認識、了解、初步分析

In [4]:
df1

             病歷編號    年齡    體重           離開手術室日期時間
14625  1001000669  60.0  73.0 2016-10-05 09:10:00
32981  1001078466  56.0  70.0 2016-09-16 17:20:00
59002  1001439163  89.0  43.0 2018-04-02 09:20:00
35964  1000315818  70.0  68.0 2020-09-16 08:40:00
9476   1001393726  69.0  81.0 2015-12-28 17:05:00
...           ...   ...   ...                 ...
79986  1001797631  41.0  59.0 2019-11-13 10:25:00
59746  1002036990  81.0  50.0 2017-07-11 18:05:00
39098  1000906821  70.0  54.0 2015-11-27 11:35:00
34661  1002558853  55.0  73.1 2020-04-20 09:35:00
9469   1001163186  65.0  72.0 2019-09-30 18:35:00

[16538 rows x 4 columns]

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16538 entries, 14625 to 9469
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   病歷編號       16538 non-null  object
 1   年齡         16538 non-null  float64
 2   體重         16538 non-null  float64
 3   離開手術室日期時間  16538 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 646.0+ KB

In [8]:
df2

              病歷編號       入院日期       出院日期     MI
49558   1001888281 2016-01-25 2016-01-29  False
41220   1002063327 2020-10-08 2020-10-12  False
71176   1001443943 2016-11-04 2016-11-24  False
119918  1000475120 2020-09-14 2020-09-16  False
101322  1000864540 2016-10-13 2016-10-15  False
...            ...        ...        ...    ...
50159   1001875886 2020-08-22 2020-08-27  False
116377  1000563546 2020-04-27 2020-05-06  False
110095  1000645840 2020-12-07 2020-12-13  False
131352  1000211509 2016-05-09 2016-05-14  False
39042   1002109765 2016-06-15 2016-06-17  False

[20883 rows x 4 columns]

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20883 entries, 49558 to 39042
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   病歷編號    20883 non-null  object
 1   入院日期    20883 non-null  datetime64[ns]
 2   出院日期    20883 non-null  datetime64[ns]
 3   MI      20883 non-null  bool
dtypes: bool(1), datetime64[ns](2), object(1)
memory usage: 673.0+ KB

In [12]:
# 可利用 value_counts() 觀察是否有重複病歷
df1['病歷編號'].value_counts()

病歷編號
1000683851    6
1001737672    6
1001736849    6
1002284878    5
1002276619    5
             ..
1002385408    1
1002488502    1
1001123067    1
1000565748    1
1001163186    1
Name: count, Length: 15184, dtype: int64

In [14]:
# 可利用 value_counts() 觀察是否有重複病歷
df2['病歷編號'].value_counts()

病歷編號
1000884245    14
1000590266    12
1000915258    12
1000918137    11
1001166398    11
              ..
1002553328     1
1000163889     1
1002317116     1
1002430436     1
1000211509     1
Name: count, Length: 17362, dtype: int64

# 步驟1: 以病歷編號合併 df1 和 df2 (運用 inner 合併原則)

# 步驟2: 從合併的dataframe中，建立 MI=True 的boolean遮罩

# 步驟3: 從合併的dataframe中，建立合理資料的boolean遮罩，其中合理資料指的是離開手術室日期時間必須介於入院日期與出院日期之間

# 步驟4: 利用前面建立的 boolean 遮罩，篩選合理的病歷資料

# 步驟5: 再次探查、分析經篩選後的資料

# 步驟6: 剔除重複資料，只保留最早進手術室的資料

## 心肌梗塞最年輕/最年長的是幾歲?平均年齡是幾歲？

## 心肌梗塞的平均體重是多少?

## 請繪製心肌梗塞的體重與年齡分布圖