# 第8章：索引對齊與尋找欄位最大值

## 8.1 檢驗Index物件

In [1]:
import pandas as pd
import numpy as np
pd.set_option('max_columns', 4, 'max_rows', 10, 'max_colwidth', 12)

college = pd.read_csv('data/college.csv')
columns = college.columns
columns

Index(['INSTNM', 'CITY', 'STABBR', 'HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL',
       'SATVRMID', 'SATMTMID', 'DISTANCEONLY', 'UGDS', 'UGDS_WHITE',
       'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN', 'UGDS_NHPI',
       'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN', 'PPTUG_EF', 'CURROPER', 'PCTPELL',
       'PCTFLOAN', 'UG25ABV', 'MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP'],
      dtype='object')

In [2]:
columns.to_numpy()

array(['INSTNM', 'CITY', 'STABBR', 'HBCU', 'MENONLY', 'WOMENONLY',
       'RELAFFIL', 'SATVRMID', 'SATMTMID', 'DISTANCEONLY', 'UGDS',
       'UGDS_WHITE', 'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN',
       'UGDS_NHPI', 'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN', 'PPTUG_EF',
       'CURROPER', 'PCTPELL', 'PCTFLOAN', 'UG25ABV', 'MD_EARN_WNE_P10',
       'GRAD_DEBT_MDN_SUPP'], dtype=object)

In [3]:
columns[5]

'WOMENONLY'

In [4]:
columns[[1,8,10]]

Index(['CITY', 'SATMTMID', 'UGDS'], dtype='object')

In [5]:
columns[-7:-4]

Index(['PPTUG_EF', 'CURROPER', 'PCTPELL'], dtype='object')

In [6]:
columns.isna().sum()

0

In [7]:
columns + '_A'

Index(['INSTNM_A', 'CITY_A', 'STABBR_A', 'HBCU_A', 'MENONLY_A', 'WOMENONLY_A',
       'RELAFFIL_A', 'SATVRMID_A', 'SATMTMID_A', 'DISTANCEONLY_A', 'UGDS_A',
       'UGDS_WHITE_A', 'UGDS_BLACK_A', 'UGDS_HISP_A', 'UGDS_ASIAN_A',
       'UGDS_AIAN_A', 'UGDS_NHPI_A', 'UGDS_2MOR_A', 'UGDS_NRA_A',
       'UGDS_UNKN_A', 'PPTUG_EF_A', 'CURROPER_A', 'PCTPELL_A', 'PCTFLOAN_A',
       'UG25ABV_A', 'MD_EARN_WNE_P10_A', 'GRAD_DEBT_MDN_SUPP_A'],
      dtype='object')

In [8]:
columns > 'G'

array([ True, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True])

In [9]:
# columns[1] = 'city'

In [10]:
c1 = columns[:4]
c1

Index(['INSTNM', 'CITY', 'STABBR', 'HBCU'], dtype='object')

In [11]:
c2 = columns[2:6]
c2

Index(['STABBR', 'HBCU', 'MENONLY', 'WOMENONLY'], dtype='object')

In [12]:
c1.union(c2)

Index(['CITY', 'HBCU', 'INSTNM', 'MENONLY', 'STABBR', 'WOMENONLY'], dtype='object')

## 8.2 笛卡爾積

In [13]:
s1 = pd.Series(index=list('aaab'), data=np.arange(4))
s1

a    0
a    1
a    2
b    3
dtype: int32

In [14]:
s2 = pd.Series(index=list('aabbbc'), data=np.arange(6))
s2

a    0
a    1
b    2
b    3
b    4
c    5
dtype: int32

In [15]:
s1 + s2

a    0.0
a    1.0
a    1.0
a    2.0
a    2.0
a    3.0
b    5.0
b    6.0
b    7.0
c    NaN
dtype: float64

In [16]:
s1 = pd.Series(index=list('aaabb'), data=np.arange(5))
s2 = pd.Series(index=list('aaabb'), data=np.arange(5))
s1

a    0
a    1
a    2
b    3
b    4
dtype: int32

In [17]:
s2

a    0
a    1
a    2
b    3
b    4
dtype: int32

In [18]:
s1+s2

a    0
a    2
a    4
b    6
b    8
dtype: int32

In [19]:
s1 = pd.Series(index=list('aaabb'), data=np.arange(5))
s2 = pd.Series(index=list('bbaaa'), data=np.arange(5))
s1

a    0
a    1
a    2
b    3
b    4
dtype: int32

In [20]:
s2

b    0
b    1
a    2
a    3
a    4
dtype: int32

In [21]:
s1+s2

a    2
a    3
a    4
a    3
a    4
    ..
a    6
b    3
b    4
b    4
b    5
Length: 13, dtype: int32

In [22]:
s3 = pd.Series(index=list('ab'), data=np.arange(2))
s4 = pd.Series(index=list('ba'), data=np.arange(2))
s3 + s4

a    1
b    1
dtype: int32

## 8.3 索引爆炸

In [23]:
employee = pd.read_csv('data/employee.csv', index_col='RACE')
employee.head()

              UNIQUE_ID POSITION_TITLE  ...   HIRE_DATE    JOB_DATE
RACE                                    ...
Hispanic/...          0  ASSISTAN...    ...  2006-06-12  2012-10-13
Hispanic/...          1  LIBRARY ...    ...  2000-07-19  2010-09-18
White                 2  POLICE O...    ...  2015-02-03  2015-02-03
White                 3  ENGINEER...    ...  1982-02-08  1991-05-25
White                 4  ELECTRICIAN    ...  1989-06-19  1994-10-22

[5 rows x 9 columns]

In [24]:
salary1 = employee['BASE_SALARY']
salary2 = employee['BASE_SALARY']
salary1 is salary2

True

In [25]:
salary2 = employee['BASE_SALARY'].copy()
salary1 is salary2

False

In [26]:
salary1 = salary1.sort_index()
salary1.head()

RACE
American Indian or Alaskan Native    78355.0
American Indian or Alaskan Native    26125.0
American Indian or Alaskan Native    98536.0
American Indian or Alaskan Native        NaN
American Indian or Alaskan Native    55461.0
Name: BASE_SALARY, dtype: float64

In [27]:
salary2.head()

RACE
Hispanic/Latino    121862.0
Hispanic/Latino     26125.0
White               45279.0
White               63166.0
White               56347.0
Name: BASE_SALARY, dtype: float64

In [28]:
salary_add = salary1 + salary2

In [29]:
salary_add.head()

RACE
American Indian or Alaskan Native    138702.0
American Indian or Alaskan Native    156710.0
American Indian or Alaskan Native    176891.0
American Indian or Alaskan Native    159594.0
American Indian or Alaskan Native    127734.0
Name: BASE_SALARY, dtype: float64

In [30]:
len(salary1.index), len(salary2.index), len(salary_add.index)

(2000, 2000, 1175424)

In [31]:
index_vc = salary1.index.value_counts(dropna=False)
index_vc

Black or African American            700
White                                665
Hispanic/Latino                      480
Asian/Pacific Islander               107
NaN                                   35
American Indian or Alaskan Native     11
Others                                 2
Name: RACE, dtype: int64

In [32]:
index_vc.pow(2).sum()

1175424

## 8.4 填補缺失值

In [33]:
baseball_14 = pd.read_csv('data/baseball14.csv', index_col='playerID')
baseball_15 = pd.read_csv('data/baseball15.csv', index_col='playerID')
baseball_16 = pd.read_csv('data/baseball16.csv', index_col='playerID')
baseball_14.head()

           yearID  stint  ...   SF  GIDP
playerID                  ...
altuvjo01    2014      1  ...  5.0  20.0
cartech02    2014      1  ...  4.0  12.0
castrja01    2014      1  ...  3.0  11.0
corpoca01    2014      1  ...  2.0   3.0
dominma01    2014      1  ...  7.0  23.0

[5 rows x 21 columns]

In [34]:
baseball_14.index.difference(baseball_15.index)

Index(['corpoca01', 'dominma01', 'fowlede01', 'grossro01', 'guzmaje01',
       'hoeslj01', 'krausma01', 'preslal01', 'singljo02'],
      dtype='object', name='playerID')

In [35]:
baseball_15.index.difference(baseball_14.index)

Index(['congeha01', 'correca01', 'gattiev01', 'gomezca01', 'lowrije01',
       'rasmuco01', 'tuckepr01', 'valbulu01'],
      dtype='object', name='playerID')

In [36]:
hits_14 = baseball_14['H']
hits_15 = baseball_15['H']
hits_16 = baseball_16['H']
hits_14.head()

playerID
altuvjo01    225
cartech02    115
castrja01    103
corpoca01     40
dominma01    121
Name: H, dtype: int64

In [37]:
hits_15.head()

playerID
altuvjo01    200
cartech02     78
castrja01     71
congeha01     46
correca01    108
Name: H, dtype: int64

In [38]:
hits_16.head()

playerID
altuvjo01    216
bregmal01     53
castrja01     69
correca01    158
gattiev01    112
Name: H, dtype: int64

In [39]:
(hits_14 + hits_15).head()

playerID
altuvjo01    425.0
cartech02    193.0
castrja01    174.0
congeha01      NaN
corpoca01      NaN
Name: H, dtype: float64

In [40]:
hits_14.add(hits_15, fill_value=0).head()

playerID
altuvjo01    425.0
cartech02    193.0
castrja01    174.0
congeha01     46.0
corpoca01     40.0
Name: H, dtype: float64

In [41]:
hits_total = (hits_14.add(hits_15, fill_value=0)
                     .add(hits_16, fill_value=0))

hits_total.head()

playerID
altuvjo01    641.0
bregmal01     53.0
cartech02    193.0
castrja01    243.0
congeha01     46.0
Name: H, dtype: float64

In [42]:
hits_total.hasnans

False

In [43]:
s = pd.Series(index=['a', 'b', 'c', 'd'],
              data=[np.nan, 3, np.nan, 1])
s

a    NaN
b    3.0
c    NaN
d    1.0
dtype: float64

In [44]:
s1 = pd.Series(index=['a', 'b', 'c'],
               data=[np.nan, 6, 10])
s1

a     NaN
b     6.0
c    10.0
dtype: float64

In [45]:
s.add(s1, fill_value=5)

a     NaN
b     9.0
c    15.0
d     6.0
dtype: float64

In [46]:
df_14 = baseball_14[['G','AB', 'R', 'H']]
df_14.head()

             G   AB   R    H
playerID
altuvjo01  158  660  85  225
cartech02  145  507  68  115
castrja01  126  465  43  103
corpoca01   55  170  22   40
dominma01  157  564  51  121

In [47]:
df_15 = baseball_15[['AB', 'R', 'H', 'HR']]
df_15.head()

            AB   R    H  HR
playerID
altuvjo01  638  86  200  15
cartech02  391  50   78  24
castrja01  337  38   71  11
congeha01  201  25   46  11
correca01  387  52  108  22

In [48]:
(df_14 + df_15).head(10).style.highlight_null('lightgrey')

In [49]:
(df_14.add(df_15, fill_value=0)
      .head(10)
      .style.highlight_null('lightgrey')
)

## 8.5 從不同的DataFrame增加欄位

In [50]:
employee = pd.read_csv('data/employee.csv')
dept_sal = employee[['DEPARTMENT', 'BASE_SALARY']]
dept_sal

       DEPARTMENT  BASE_SALARY
0     Municipa...     121862.0
1         Library      26125.0
2     Houston ...      45279.0
3     Houston ...      63166.0
4     General ...      56347.0
...           ...          ...
1995  Houston ...      43443.0
1996  Houston ...      66523.0
1997  Houston ...      43443.0
1998  Houston ...      55461.0
1999  Houston ...      51194.0

[2000 rows x 2 columns]

In [51]:
dept_sal = dept_sal.sort_values(['DEPARTMENT', 'BASE_SALARY'],
                                 ascending=[True, False])
dept_sal

       DEPARTMENT  BASE_SALARY
1494  Admn. & ...     140416.0
237   Admn. & ...     130416.0
1679  Admn. & ...     103776.0
988   Admn. & ...      72741.0
693   Admn. & ...      66825.0
...           ...          ...
1140  Solid Wa...      30410.0
1243  Solid Wa...      30410.0
387   Solid Wa...      28829.0
57    Solid Wa...      27622.0
536   Solid Wa...      26499.0

[2000 rows x 2 columns]

In [52]:
max_dept_sal = dept_sal.drop_duplicates(subset='DEPARTMENT')
max_dept_sal.head()

       DEPARTMENT  BASE_SALARY
1494  Admn. & ...     140416.0
149   City Con...      64251.0
236   City Cou...     100000.0
647   Conventi...      38397.0
1500  Dept of ...      89221.0

In [53]:
max_dept_sal = max_dept_sal.set_index('DEPARTMENT')
employee = employee.set_index('DEPARTMENT')

In [54]:
employee = employee.assign(MAX_DEPT_SALARY=max_dept_sal['BASE_SALARY'])
employee

              UNIQUE_ID POSITION_TITLE  ...    JOB_DATE MAX_DEPT_SALARY
DEPARTMENT                              ...
Municipal...          0  ASSISTAN...    ...  2012-10-13     121862.0
Library               1  LIBRARY ...    ...  2010-09-18     107763.0
Houston P...          2  POLICE O...    ...  2015-02-03     199596.0
Houston F...          3  ENGINEER...    ...  1991-05-25     210588.0
General S...          4  ELECTRICIAN    ...  1994-10-22      89194.0
...                 ...          ...    ...         ...          ...
Houston P...       1995  POLICE O...    ...  2015-06-09     199596.0
Houston F...       1996  COMMUNIC...    ...  2013-10-06     210588.0
Houston P...       1997  POLICE O...    ...  2015-10-13     199596.0
Houston P...       1998  POLICE O...    ...  2011-07-02     199596.0
Houston F...       1999  FIRE FIG...    ...  2010-07-12     210588.0

[2000 rows x 10 columns]

In [55]:
employee.query('BASE_SALARY > MAX_DEPT_SALARY')

Empty DataFrame
Columns: [UNIQUE_ID, POSITION_TITLE, BASE_SALARY, RACE, EMPLOYMENT_TYPE, GENDER, EMPLOYMENT_STATUS, HIRE_DATE, JOB_DATE, MAX_DEPT_SALARY]
Index: []

[0 rows x 10 columns]

In [56]:
employee = pd.read_csv('data/employee.csv')
max_dept_sal = (employee[['DEPARTMENT', 'BASE_SALARY']]
                   .sort_values(['DEPARTMENT', 'BASE_SALARY'], 
                                ascending=[True, False])
                   .drop_duplicates(subset='DEPARTMENT')
                   .set_index('DEPARTMENT')
)

In [57]:
(employee.set_index('DEPARTMENT')
         .assign(MAX_DEPT_SALARY=max_dept_sal['BASE_SALARY']))

              UNIQUE_ID POSITION_TITLE  ...    JOB_DATE MAX_DEPT_SALARY
DEPARTMENT                              ...
Municipal...          0  ASSISTAN...    ...  2012-10-13     121862.0
Library               1  LIBRARY ...    ...  2010-09-18     107763.0
Houston P...          2  POLICE O...    ...  2015-02-03     199596.0
Houston F...          3  ENGINEER...    ...  1991-05-25     210588.0
General S...          4  ELECTRICIAN    ...  1994-10-22      89194.0
...                 ...          ...    ...         ...          ...
Houston P...       1995  POLICE O...    ...  2015-06-09     199596.0
Houston F...       1996  COMMUNIC...    ...  2013-10-06     210588.0
Houston P...       1997  POLICE O...    ...  2015-10-13     199596.0
Houston P...       1998  POLICE O...    ...  2011-07-02     199596.0
Houston F...       1999  FIRE FIG...    ...  2010-07-12     210588.0

[2000 rows x 10 columns]

In [58]:
random_salary = (dept_sal.sample(n=10, random_state=42)
                         .set_index('DEPARTMENT'))
random_salary

              BASE_SALARY
DEPARTMENT
Public Wo...      34861.0
Houston A...      29286.0
Houston P...      31907.0
Houston P...      66614.0
Houston P...      42000.0
Houston P...      43443.0
Houston P...      66614.0
Public Wo...      52582.0
Finance           93168.0
Houston P...      35318.0

In [59]:
# employee['RANDOM_SALARY'] = random_salary['BASE_SALARY']

In [60]:
max_dept_sal['BASE_SALARY'].head(3)

DEPARTMENT
Admn. & Regulatory Affairs    140416.0
City Controller's Office       64251.0
City Council                  100000.0
Name: BASE_SALARY, dtype: float64

In [61]:
(employee.set_index('DEPARTMENT')
         .assign(MAX_SALARY2=max_dept_sal['BASE_SALARY'].head(3))
         .MAX_SALARY2
         .value_counts(dropna=False)
)

NaN         1955
140416.0      29
100000.0      11
64251.0        5
Name: MAX_SALARY2, dtype: int64

In [62]:
max_sal = (employee.groupby('DEPARTMENT')
                   .BASE_SALARY
                   .transform('max')
)

In [63]:
employee.assign(MAX_DEPT_SALARY=max_sal)

      UNIQUE_ID POSITION_TITLE  ...    JOB_DATE  MAX_DEPT_SALARY
0             0  ASSISTAN...    ...  2012-10-13     121862.0
1             1  LIBRARY ...    ...  2010-09-18     107763.0
2             2  POLICE O...    ...  2015-02-03     199596.0
3             3  ENGINEER...    ...  1991-05-25     210588.0
4             4  ELECTRICIAN    ...  1994-10-22      89194.0
...         ...          ...    ...         ...          ...
1995       1995  POLICE O...    ...  2015-06-09     199596.0
1996       1996  COMMUNIC...    ...  2013-10-06     210588.0
1997       1997  POLICE O...    ...  2015-10-13     199596.0
1998       1998  POLICE O...    ...  2011-07-02     199596.0
1999       1999  FIRE FIG...    ...  2010-07-12     210588.0

[2000 rows x 11 columns]

## 8.6 凸顯每一欄位的最大值

In [64]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college.head()

                    CITY STABBR  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                           ...
Alabama A...      Normal     AL  ...        30300            33888
Universit...  Birmingham     AL  ...        39700          21941.5
Amridge U...  Montgomery     AL  ...        40100            23370
Universit...  Huntsville     AL  ...        45500            24097
Alabama S...  Montgomery     AL  ...        26600          33118.5

[5 rows x 26 columns]

In [65]:
college.dtypes

CITY                   object
STABBR                 object
HBCU                  float64
MENONLY               float64
WOMENONLY             float64
                       ...
PCTPELL               float64
PCTFLOAN              float64
UG25ABV               float64
MD_EARN_WNE_P10        object
GRAD_DEBT_MDN_SUPP     object
Length: 26, dtype: object

In [66]:
college.MD_EARN_WNE_P10.sample(10, random_state=42)

INSTNM
Career Point College                                      20700
Ner Israel Rabbinical College                       PrivacyS...
Reflections Academy of Beauty                               NaN
Capital Area Technical College                            26400
West Virginia University Institute of Technology          43400
Mid-State Technical College                               32000
Strayer University-Huntsville Campus                      49200
National Aviation Academy of Tampa Bay                    45000
University of California-Santa Cruz                       43000
Lexington Theological Seminary                              NaN
Name: MD_EARN_WNE_P10, dtype: object

In [67]:
college.GRAD_DEBT_MDN_SUPP.sample(10, random_state=42)

INSTNM
Career Point College                                      14977
Ner Israel Rabbinical College                       PrivacyS...
Reflections Academy of Beauty                       PrivacyS...
Capital Area Technical College                      PrivacyS...
West Virginia University Institute of Technology          23969
Mid-State Technical College                                8025
Strayer University-Huntsville Campus                    36173.5
National Aviation Academy of Tampa Bay                    22778
University of California-Santa Cruz                       19884
Lexington Theological Seminary                      PrivacyS...
Name: GRAD_DEBT_MDN_SUPP, dtype: object

In [68]:
college.MD_EARN_WNE_P10.value_counts()

PrivacySuppressed    822
38800                151
21500                 97
49200                 78
27400                 46
                    ...
163100                 1
110700                 1
83700                  1
75700                  1
60500                  1
Name: MD_EARN_WNE_P10, Length: 598, dtype: int64

In [69]:
college.GRAD_DEBT_MDN_SUPP.value_counts()

PrivacySuppressed    1510
9500                  514
27000                 306
25827.5               136
25000                 124
                     ...
20359.5                 1
30362.5                 1
12153                   1
7322                    1
9088.5                  1
Name: GRAD_DEBT_MDN_SUPP, Length: 2038, dtype: int64

In [70]:
cols = ['MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP']
for col in cols:
    college[col] = pd.to_numeric(college[col], errors='coerce')
college.GRAD_DEBT_MDN_SUPP.sample(10, random_state=42)

INSTNM
Career Point College                                14977.0
Ner Israel Rabbinical College                           NaN
Reflections Academy of Beauty                           NaN
Capital Area Technical College                          NaN
West Virginia University Institute of Technology    23969.0
Mid-State Technical College                          8025.0
Strayer University-Huntsville Campus                36173.5
National Aviation Academy of Tampa Bay              22778.0
University of California-Santa Cruz                 19884.0
Lexington Theological Seminary                          NaN
Name: GRAD_DEBT_MDN_SUPP, dtype: float64

In [71]:
college.dtypes.loc[cols]

MD_EARN_WNE_P10       float64
GRAD_DEBT_MDN_SUPP    float64
dtype: object

In [72]:
college_n = college.select_dtypes('number')
college_n.head()

              HBCU  MENONLY  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                       ...
Alabama A...   1.0      0.0  ...      30300.0          33888.0
Universit...   0.0      0.0  ...      39700.0          21941.5
Amridge U...   0.0      0.0  ...      40100.0          23370.0
Universit...   0.0      0.0  ...      45500.0          24097.0
Alabama S...   1.0      0.0  ...      26600.0          33118.5

[5 rows x 24 columns]

In [73]:
binary_only = college_n.nunique() == 2
binary_only.head()

HBCU          True
MENONLY       True
WOMENONLY     True
RELAFFIL      True
SATVRMID     False
dtype: bool

In [74]:
binary_cols = binary_only[binary_only].index.tolist()
binary_cols

['HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL', 'DISTANCEONLY', 'CURROPER']

In [75]:
college_n2 = college_n.drop(columns=binary_cols)
college_n2.head()

              SATVRMID  SATMTMID  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                            ...
Alabama A...     424.0     420.0  ...      30300.0          33888.0
Universit...     570.0     565.0  ...      39700.0          21941.5
Amridge U...       NaN       NaN  ...      40100.0          23370.0
Universit...     595.0     590.0  ...      45500.0          24097.0
Alabama S...     425.0     430.0  ...      26600.0          33118.5

[5 rows x 18 columns]

In [76]:
max_cols = college_n2.idxmax()
max_cols

SATVRMID              Californ...
SATMTMID              Californ...
UGDS                  Universi...
UGDS_WHITE            Mr Leon'...
UGDS_BLACK            Velvatex...
                         ...
PCTPELL               MTI Busi...
PCTFLOAN              ABC Beau...
UG25ABV               Dongguk ...
MD_EARN_WNE_P10       Medical ...
GRAD_DEBT_MDN_SUPP    Southwes...
Length: 18, dtype: object

In [77]:
unique_max_cols = max_cols.unique()
unique_max_cols[:5]

array(['California Institute of Technology',
       'University of Phoenix-Arizona',
       "Mr Leon's School of Hair Design-Moscow",
       'Velvatex College of Beauty Culture',
       'Thunderbird School of Global Management'], dtype=object)

In [78]:
college_n2.loc[unique_max_cols].style.highlight_max(color='lightgrey')

In [79]:
def remove_binary_cols(df):
    binary_only = df.nunique() == 2
    cols = binary_only[binary_only].index.tolist()
    return df.drop(columns=cols)

def select_rows_with_max_cols(df):
    max_cols = df.idxmax()
    unique = max_cols.unique()
    return df.loc[unique]

(college
   .assign(
       MD_EARN_WNE_P10=pd.to_numeric(college.MD_EARN_WNE_P10, errors='coerce'),
       GRAD_DEBT_MDN_SUPP=pd.to_numeric(college.GRAD_DEBT_MDN_SUPP, errors='coerce'))
   .select_dtypes('number')
   .pipe(remove_binary_cols)
   .pipe(select_rows_with_max_cols)
   .style.highlight_max(color='lightgrey')
)

In [80]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_').head()
college_ugds.style.highlight_max(axis='columns',color='lightgrey')

## 8.7 串連方法來實現idxmax()的功能

In [81]:
def remove_binary_cols(df):
    binary_only = df.nunique() == 2
    cols = binary_only[binary_only].index.tolist()
    return df.drop(columns=cols)

college_n = (
    college
    .assign(
        MD_EARN_WNE_P10=pd.to_numeric(
            college.MD_EARN_WNE_P10, errors='coerce'),
        GRAD_DEBT_MDN_SUPP=pd.to_numeric(
            college.GRAD_DEBT_MDN_SUPP, errors='coerce'))
    .select_dtypes('number')
    .pipe(remove_binary_cols))

In [82]:
college_n.max().head()

SATVRMID         765.0
SATMTMID         785.0
UGDS          151558.0
UGDS_WHITE         1.0
UGDS_BLACK         1.0
dtype: float64

In [83]:
college_n.eq(college_n.max()).head()

              SATVRMID  SATMTMID  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                            ...
Alabama A...     False     False  ...        False            False
Universit...     False     False  ...        False            False
Amridge U...     False     False  ...        False            False
Universit...     False     False  ...        False            False
Alabama S...     False     False  ...        False            False

[5 rows x 18 columns]

In [84]:
has_row_max = (college_n.eq(college_n.max())
                        .any(axis='columns')
)
has_row_max.head()

INSTNM
Alabama A & M University               False
University of Alabama at Birmingham    False
Amridge University                     False
University of Alabama in Huntsville    False
Alabama State University               False
dtype: bool

In [85]:
college_n.shape

(7535, 18)

In [86]:
has_row_max.sum()

401

### 小編補充：

In [87]:
s = pd.Series([0, 1, 0, 1, 0])
s.cumsum()

0    0
1    1
2    1
3    2
4    2
dtype: int64

In [88]:
college_n.eq(college_n.max()).cumsum()

              SATVRMID  SATMTMID  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                            ...
Alabama A...         0         0  ...            0                0
Universit...         0         0  ...            0                0
Amridge U...         0         0  ...            0                0
Universit...         0         0  ...            0                0
Alabama S...         0         0  ...            0                0
...                ...       ...  ...          ...              ...
SAE Insti...         1         1  ...            1                2
Rasmussen...         1         1  ...            1                2
National ...         1         1  ...            1                2
Bay Area ...         1         1  ...            1                2
Excel Lea...         1         1  ...            1                2

[7535 rows x 18 columns]

In [89]:
college_n.eq(college_n.max()).cumsum().cumsum()

              SATVRMID  SATMTMID  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                            ...
Alabama A...         0         0  ...            0                0
Universit...         0         0  ...            0                0
Amridge U...         0         0  ...            0                0
Universit...         0         0  ...            0                0
Alabama S...         0         0  ...            0                0
...                ...       ...  ...          ...              ...
SAE Insti...      7305      7305  ...         3445            10266
Rasmussen...      7306      7306  ...         3446            10268
National ...      7307      7307  ...         3447            10270
Bay Area ...      7308      7308  ...         3448            10272
Excel Lea...      7309      7309  ...         3449            10274

[7535 rows x 18 columns]

In [90]:
has_row_max2 = (college_n.eq(college_n.max()).cumsum() 
                                             .cumsum() 
                                             .eq(1) 
                                             .any(axis='columns'))

In [91]:
has_row_max2.head()

INSTNM
Alabama A & M University               False
University of Alabama at Birmingham    False
Amridge University                     False
University of Alabama in Huntsville    False
Alabama State University               False
dtype: bool

In [92]:
has_row_max2.sum()

16

In [93]:
idxmax_cols = has_row_max2[has_row_max2].index
idxmax_cols

Index(['Thunderbird School of Global Management',
       'Southwest University of Visual Arts-Tucson', 'ABC Beauty College Inc',
       'Velvatex College of Beauty Culture',
       'California Institute of Technology',
       'Le Cordon Bleu College of Culinary Arts-San Francisco',
       'MTI Business College Inc', 'Dongguk University-Los Angeles',
       'Mr Leon's School of Hair Design-Moscow',
       'Haskell Indian Nations University', 'LIU Brentwood',
       'Medical College of Wisconsin', 'Palau Community College',
       'California University of Management and Sciences',
       'Cosmopolitan Beauty and Tech School', 'University of Phoenix-Arizona'],
      dtype='object', name='INSTNM')

In [94]:
set(college_n.idxmax().unique()) == set(idxmax_cols)

True

In [95]:
def idx_max(df):
    has_row_max = (df.eq(df.max())
                     .cumsum()
                     .cumsum()
                     .eq(1)
                     .any(axis='columns'))
    return has_row_max[has_row_max].index

idx_max(college_n)

Index(['Thunderbird School of Global Management',
       'Southwest University of Visual Arts-Tucson', 'ABC Beauty College Inc',
       'Velvatex College of Beauty Culture',
       'California Institute of Technology',
       'Le Cordon Bleu College of Culinary Arts-San Francisco',
       'MTI Business College Inc', 'Dongguk University-Los Angeles',
       'Mr Leon's School of Hair Design-Moscow',
       'Haskell Indian Nations University', 'LIU Brentwood',
       'Medical College of Wisconsin', 'Palau Community College',
       'California University of Management and Sciences',
       'Cosmopolitan Beauty and Tech School', 'University of Phoenix-Arizona'],
      dtype='object', name='INSTNM')

In [96]:
def idx_max(df):
    has_row_max = (df.eq(df.max())
                     .cumsum()
                     .cumsum()
                     .eq(1)
                     .any(axis='columns')
                     [lambda df_: df_]
                     .index
    )
    return has_row_max

In [97]:
%timeit college_n.idxmax().values

2.46 ms ± 40.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [98]:
%timeit idx_max(college_n)

7.35 ms ± 145 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## 8.8 尋找最常見的欄位最大值

In [99]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')
college_ugds.head()

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...      0.0333      0.9353  ...    0.0059     0.0138
Universit...      0.5922      0.2600  ...    0.0179     0.0100
Amridge U...      0.2990      0.4192  ...    0.0000     0.2715
Universit...      0.6988      0.1255  ...    0.0332     0.0350
Alabama S...      0.0158      0.9208  ...    0.0243     0.0137

[5 rows x 9 columns]

In [100]:
highest_percentage_race = college_ugds.idxmax(axis='columns')
highest_percentage_race.head()

INSTNM
Alabama A & M University               UGDS_BLACK
University of Alabama at Birmingham    UGDS_WHITE
Amridge University                     UGDS_BLACK
University of Alabama in Huntsville    UGDS_WHITE
Alabama State University               UGDS_BLACK
dtype: object

In [101]:
highest_percentage_race.value_counts(normalize=True)

UGDS_WHITE    0.670352
UGDS_BLACK    0.151586
UGDS_HISP     0.129473
UGDS_UNKN     0.023422
UGDS_ASIAN    0.012074
UGDS_AIAN     0.006110
UGDS_NRA      0.004073
UGDS_NHPI     0.001746
UGDS_2MOR     0.001164
dtype: float64

In [102]:
(college_ugds
    [highest_percentage_race == 'UGDS_BLACK']
    .drop(columns='UGDS_BLACK')
    .idxmax(axis='columns')
    .value_counts(normalize=True)
)

UGDS_WHITE    0.661228
UGDS_HISP     0.230326
UGDS_UNKN     0.071977
UGDS_NRA      0.018234
UGDS_ASIAN    0.009597
UGDS_2MOR     0.006718
UGDS_NHPI     0.000960
UGDS_AIAN     0.000960
dtype: float64