# 第6章：選取資料的子集

## 6.1 選取一筆或多筆Series資料

In [55]:
import pandas as pd
import numpy as np
pd.set_option('max_columns', 4, 'max_rows', 10, 'max_colwidth', 12)

college = pd.read_csv('data/college.csv', index_col='INSTNM')
city = college['CITY']
city

INSTNM
Alabama A & M University                                       Normal
University of Alabama at Birmingham                        Birmingham
Amridge University                                         Montgomery
University of Alabama in Huntsville                        Huntsville
Alabama State University                                   Montgomery
                                                             ...
SAE Institute of Technology  San Francisco                 Emeryville
Rasmussen College - Overland Park                         Overland...
National Personal Training Institute of Cleveland         Highland...
Bay Area Medical Academy - San Jose Satellite Location       San Jose
Excel Learning Center-San Antonio South                   San Antonio
Name: CITY, Length: 7535, dtype: object

In [56]:
city['Alabama A & M University']

'Normal'

In [57]:
city.loc['Alabama A & M University']

'Normal'

In [58]:
city.iloc[0]

'Normal'

In [59]:
city[['Alabama A & M University', 'Alabama State University']]

INSTNM
Alabama A & M University        Normal
Alabama State University    Montgomery
Name: CITY, dtype: object

In [60]:
city.loc[['Alabama A & M University', 'Alabama State University']]

INSTNM
Alabama A & M University        Normal
Alabama State University    Montgomery
Name: CITY, dtype: object

In [61]:
city.iloc[[0, 4]]

INSTNM
Alabama A & M University        Normal
Alabama State University    Montgomery
Name: CITY, dtype: object

In [62]:
city['Alabama A & M University': 'Alabama State University']

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [63]:
city[0:5]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [64]:
city.loc['Alabama A & M University': 'Alabama State University']

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [65]:
city.iloc[0:5]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [66]:
alabama_mask = city.isin(['Birmingham', 'Montgomery'])
alabama_mask

INSTNM
Alabama A & M University                                  False
University of Alabama at Birmingham                        True
Amridge University                                         True
University of Alabama in Huntsville                       False
Alabama State University                                   True
                                                          ...
SAE Institute of Technology  San Francisco                False
Rasmussen College - Overland Park                         False
National Personal Training Institute of Cleveland         False
Bay Area Medical Academy - San Jose Satellite Location    False
Excel Learning Center-San Antonio South                   False
Name: CITY, Length: 7535, dtype: bool

In [67]:
city[alabama_mask]

INSTNM
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
Alabama State University               Montgomery
Auburn University at Montgomery        Montgomery
Birmingham Southern College            Birmingham
                                          ...
Fortis Institute-Birmingham            Birmingham
Hair Academy                           Montgomery
Brown Mackie College-Birmingham        Birmingham
Nunation School of Cosmetology         Birmingham
Troy University-Montgomery Campus      Montgomery
Name: CITY, Length: 26, dtype: object

In [68]:
s = pd.Series([10, 20, 35, 28], index=[5,2,3,1])
s

5    10
2    20
3    35
1    28
dtype: int64

In [69]:
s[0:4]

5    10
2    20
3    35
1    28
dtype: int64

In [70]:
s[5]

10

In [71]:
s[1]

28

In [72]:
college.loc['Alabama A & M University', 'CITY']

'Normal'

In [73]:
college.iloc[0, 0]

'Normal'

In [74]:
college.loc[['Alabama A & M University', 'Alabama State University'], 'CITY']

INSTNM
Alabama A & M University        Normal
Alabama State University    Montgomery
Name: CITY, dtype: object

In [75]:
college.iloc[[0, 4], 0]

INSTNM
Alabama A & M University        Normal
Alabama State University    Montgomery
Name: CITY, dtype: object

In [76]:
college.loc['Alabama A & M University': 'Alabama State University', 'CITY']

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [77]:
college.iloc[0:5, 0]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [78]:
city.loc['Reid State Technical College':
         'Alabama State University']

Series([], Name: CITY, dtype: object)

## 6.2 選取DataFrame的列

In [79]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college.head()

                    CITY STABBR  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                           ...
Alabama A...      Normal     AL  ...        30300            33888
Universit...  Birmingham     AL  ...        39700          21941.5
Amridge U...  Montgomery     AL  ...        40100            23370
Universit...  Huntsville     AL  ...        45500            24097
Alabama S...  Montgomery     AL  ...        26600          33118.5

[5 rows x 26 columns]

In [80]:
college.iloc[0]

CITY                  Normal
STABBR                    AL
HBCU                       1
MENONLY                    0
WOMENONLY                  0
                       ...
PCTPELL               0.7356
PCTFLOAN              0.8284
UG25ABV               0.1049
MD_EARN_WNE_P10        30300
GRAD_DEBT_MDN_SUPP     33888
Name: Alabama A & M University, Length: 26, dtype: object

In [81]:
college.loc['Alabama A & M University']

CITY                  Normal
STABBR                    AL
HBCU                       1
MENONLY                    0
WOMENONLY                  0
                       ...
PCTPELL               0.7356
PCTFLOAN              0.8284
UG25ABV               0.1049
MD_EARN_WNE_P10        30300
GRAD_DEBT_MDN_SUPP     33888
Name: Alabama A & M University, Length: 26, dtype: object

In [82]:
college.iloc[[60, 99, 3]]

                    CITY STABBR  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                           ...
Universit...   Anchorage     AK  ...        42500          19449.5
Internati...       Tempe     AZ  ...        22200            10556
Universit...  Huntsville     AL  ...        45500            24097

[3 rows x 26 columns]

In [83]:
labels = ['University of Alaska Anchorage',
          'International Academy of Hair Design',
          'University of Alabama in Huntsville']
college.loc[labels]

                    CITY STABBR  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                           ...
Universit...   Anchorage     AK  ...        42500          19449.5
Internati...       Tempe     AZ  ...        22200            10556
Universit...  Huntsville     AL  ...        45500            24097

[3 rows x 26 columns]

In [84]:
college.iloc[99:102]

                 CITY STABBR  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                        ...
Internati...    Tempe     AZ  ...        22200            10556
GateWay C...  Phoenix     AZ  ...        29800             7283
Mesa Comm...     Mesa     AZ  ...        35200             8000

[3 rows x 26 columns]

In [85]:
start = 'International Academy of Hair Design'
stop = 'Mesa Community College'
college.loc[start:stop]

                 CITY STABBR  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                        ...
Internati...    Tempe     AZ  ...        22200            10556
GateWay C...  Phoenix     AZ  ...        29800             7283
Mesa Comm...     Mesa     AZ  ...        35200             8000

[3 rows x 26 columns]

## 6.3 同時選取DataFrame的列與欄位

In [86]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college.iloc[:3, :4]

                    CITY STABBR  HBCU  MENONLY
INSTNM
Alabama A...      Normal     AL   1.0      0.0
Universit...  Birmingham     AL   0.0      0.0
Amridge U...  Montgomery     AL   0.0      0.0

In [87]:
college.loc[:'Amridge University', :'MENONLY']

                    CITY STABBR  HBCU  MENONLY
INSTNM
Alabama A...      Normal     AL   1.0      0.0
Universit...  Birmingham     AL   0.0      0.0
Amridge U...  Montgomery     AL   0.0      0.0

In [88]:
college.iloc[:, [4,6]].head()

              WOMENONLY  SATVRMID
INSTNM
Alabama A...        0.0     424.0
Universit...        0.0     570.0
Amridge U...        0.0       NaN
Universit...        0.0     595.0
Alabama S...        0.0     425.0

In [89]:
college.loc[:, ['WOMENONLY', 'SATVRMID']].head()

              WOMENONLY  SATVRMID
INSTNM
Alabama A...        0.0     424.0
Universit...        0.0     570.0
Amridge U...        0.0       NaN
Universit...        0.0     595.0
Alabama S...        0.0     425.0

In [90]:
college.iloc[5, -4]

0.401

In [91]:
college.loc['The University of Alabama', 'PCTFLOAN']

0.401

In [92]:
college.iloc[10:20:2, 5]

INSTNM
Birmingham Southern College             1
Concordia College Alabama               1
Enterprise State Community College      0
Faulkner University                     1
New Beginning College of Cosmetology    0
Name: RELAFFIL, dtype: int64

In [93]:
start = 'Birmingham Southern College'
stop = 'New Beginning College of Cosmetology'
college.loc[start:stop:2, 'RELAFFIL']

INSTNM
Birmingham Southern College             1
Concordia College Alabama               1
Enterprise State Community College      0
Faulkner University                     1
New Beginning College of Cosmetology    0
Name: RELAFFIL, dtype: int64

In [94]:
college.iloc[:10]

                     CITY STABBR  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                            ...
Alabama A...       Normal     AL  ...        30300            33888
Universit...   Birmingham     AL  ...        39700          21941.5
Amridge U...   Montgomery     AL  ...        40100            23370
Universit...   Huntsville     AL  ...        45500            24097
Alabama S...   Montgomery     AL  ...        26600          33118.5
The Unive...   Tuscaloosa     AL  ...        41900            23750
Central A...  Alexande...     AL  ...        27500            16127
Athens St...       Athens     AL  ...        39000            18595
Auburn Un...   Montgomery     AL  ...        35000            21335
Auburn Un...       Auburn     AL  ...        45700            21831

[10 rows x 26 columns]

In [95]:
college.iloc[:10, :]

                     CITY STABBR  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                            ...
Alabama A...       Normal     AL  ...        30300            33888
Universit...   Birmingham     AL  ...        39700          21941.5
Amridge U...   Montgomery     AL  ...        40100            23370
Universit...   Huntsville     AL  ...        45500            24097
Alabama S...   Montgomery     AL  ...        26600          33118.5
The Unive...   Tuscaloosa     AL  ...        41900            23750
Central A...  Alexande...     AL  ...        27500            16127
Athens St...       Athens     AL  ...        39000            18595
Auburn Un...   Montgomery     AL  ...        35000            21335
Auburn Un...       Auburn     AL  ...        45700            21831

[10 rows x 26 columns]

## 6.4 混用位置與標籤來選取資料

In [96]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')

In [97]:
col_start = college.columns.get_loc('UGDS_WHITE')
col_end = college.columns.get_loc('UGDS_UNKN') + 1
col_start, col_end

(10, 19)

In [98]:
college.iloc[:5, col_start:col_end]

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...      0.0333      0.9353  ...    0.0059     0.0138
Universit...      0.5922      0.2600  ...    0.0179     0.0100
Amridge U...      0.2990      0.4192  ...    0.0000     0.2715
Universit...      0.6988      0.1255  ...    0.0332     0.0350
Alabama S...      0.0158      0.9208  ...    0.0243     0.0137

[5 rows x 9 columns]

In [99]:
row_start = college.index[10]
row_end = college.index[15]
row_start, row_end

('Birmingham Southern College', 'James H Faulkner State Community College')

In [100]:
college.loc[row_start:row_end, 'UGDS_WHITE':'UGDS_UNKN']

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Birmingha...      0.7983      0.1102  ...    0.0000     0.0051
Chattahoo...      0.4661      0.4372  ...    0.0000     0.0139
Concordia...      0.0280      0.8758  ...    0.0466     0.0000
South Uni...      0.3046      0.6054  ...    0.0019     0.0326
Enterpris...      0.6408      0.2435  ...    0.0012     0.0069
James H F...      0.6979      0.2259  ...    0.0007     0.0009

[6 rows x 9 columns]

In [101]:
# college.ix[10:16, 'UGDS_WHITE':'UGDS_UNKN']

In [102]:
college.iloc[10:16].loc[:, 'UGDS_WHITE':'UGDS_UNKN']

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Birmingha...      0.7983      0.1102  ...    0.0000     0.0051
Chattahoo...      0.4661      0.4372  ...    0.0000     0.0139
Concordia...      0.0280      0.8758  ...    0.0466     0.0000
South Uni...      0.3046      0.6054  ...    0.0019     0.0326
Enterpris...      0.6408      0.2435  ...    0.0012     0.0069
James H F...      0.6979      0.2259  ...    0.0007     0.0009

[6 rows x 9 columns]

## 6.5 按標籤的字母順序進行切片

In [103]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')

In [104]:
# college.loc['Sp':'Su']

In [105]:
college = college.sort_index()

In [106]:
college.loc['Sp':'Su']

                    CITY STABBR  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                           ...
Spa Tech ...     Ipswich     MA  ...        21500             6333
Spa Tech ...    Plymouth     MA  ...        21500             6333
Spa Tech ...    Westboro     MA  ...        21500             6333
Spa Tech ...   Westbrook     ME  ...        21500             6333
Spalding ...  Louisville     KY  ...        41700            25000
...                  ...    ...  ...          ...              ...
Studio Ac...    Chandler     AZ  ...          NaN             6333
Studio Je...    New York     NY  ...  PrivacyS...      PrivacyS...
Stylemast...    Longview     WA  ...        17000            13320
Styles an...      Selmer     TN  ...  PrivacyS...      PrivacyS...
Styletren...   Rock Hill     SC  ...  PrivacyS...           9495.5

[201 rows x 26 columns]

In [107]:
college = college.sort_index(ascending=False)
college.index.is_monotonic_decreasing

True

In [108]:
college.loc['E':'B']

                     CITY STABBR  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                            ...
Dyersburg...    Dyersburg     TN  ...        26800             7475
Dutchess ...  Poughkee...     NY  ...        32500            10250
Dutchess ...  Poughkee...     NY  ...        36500             9500
Durham Te...       Durham     NC  ...        27200          11069.5
Durham Be...       Durham     NC  ...  PrivacyS...            15332
...                   ...    ...  ...          ...              ...
Bacone Co...     Muskogee     OK  ...        29700            26350
Babson Co...    Wellesley     MA  ...        86700            27000
BJ's Beau...       Auburn     WA  ...          NaN      PrivacyS...
BIR Train...      Chicago     IL  ...  PrivacyS...            15394
B M Spurr...    Glen Dale     WV  ...  PrivacyS...      PrivacyS...

[1411 rows x 26 columns]